Flask
Flask-SQLAlchemy
Flask-CORS
requests
python-dotenv
Werkzeug
Pillow
uuid
PyMySQL
transformers
torch
torchvision
torchaudio
pdf2image
poppler-utils
celery
redis
opencv-python
numpy
easyocr
pytesseract
datasets
accelerate
evaluate 